[submodule "dep/VulkanMemoryAllocator"]
	path = dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
